.greeting-card {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Georgia', serif;
  }
  
  .greeting-card h1 {
    font-size: 2em;
    font-family: 'Lucida Handwriting', cursive;
    margin-bottom: 0.5em;
  }
  
  .greeting-card p {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    background: #ffffff;
    color: rgba(255, 0, 0, 0.897);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
   button:hover {
    background: #ffffffa2;
  }
  
  